<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIVisualEffectView_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D8A22621DBF2B5300F697F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D8A227B1DBF2B5300F697F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D8A22861DBF2B5300F697F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
