<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAShapeLayer_SparkCemera_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C08743B41CC5D2AD00668FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08743CD1CC5D2AE00668FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08743D81CC5D2AE00668FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
